#footer{
    position:absolute;
    left:0%;
    bottom:-20%;
    color:#000000;
    font-size:15px;
    }

    @media(min-width:50px) and (max-width:100px) {
        body
        {
            background-color:lightgray;
        }
        p {
            font-style: normal;
            font-size: small;
            color: green;
            text-align: inherit;   
        }
        img.img1 {
            top: 39%;
            left: 25%;
            width: 10%;
            height: 10%;
            border: 1px solid black;
        }
    }

    @media(min-width:100px) and (max-width:500px) {
        body
        {
            background-color:yellow;
        }
        p {
            font-style: normal;
            font-size: medium;
            color: blue;
            text-align: inherit;
        }
        img.img1 {
            top: 39%;
            left: 25%;
            width: 25%;
            height: 25%;
            border: 1px solid black;
        }
    }

    @media(min-width:500px) and (max-width:800px) {
        body
        {
            background-color:blue;
        }
        p {
            font-style: normal;
            font-size: large;
            color: red;
            text-align: inherit;
        }
        img.img1 {
            top: 39%;
            left: 25%;
            width: 35%;
            height: 35%;
            border: 1px solid black;
        }
    }

     @media(min-width:800px) {
        body
        {
            background-color:gray;
        }
        p {
            font-style: normal;
            font-size: larger;
            color: darkmagenta;
            text-align: inherit;
        }
        img.img1 {
            top: 39%;
            left: 25%;
            width: 50%;
            height: 50%;
            border: 1px solid black;
        }
    }