
div.transbox
  {
  top:33%;
  left:25%;
  position:absolute;
  width:50%;
  height:6%;

  background-color:#708090;
  border:1px solid black;
   opacity:0.5;

  }

p.p3
{
font-size:15px;
margin-right:2%;
margin-left:2%;
margin-top:2%;
line-height:150%;
font-weight:italics;
font-family:georgia;
color:white;
}
img.img1
{
top:39%;
left:25%;
width:50%;
height:50%;
position:absolute;
border:1px solid black;
}
p.p1
{
font-weight:bold; 
margin-right:10px;
margin-left:10px;
top:33%;
left:78%
width:20%;
height:6%;
}

#class

{

font-weight:italics;

color:blue;
text-decoration:none;
}

#footer
{
position:absolute;
left:0%;
bottom:0%;
color:#000000;
font-size:15px;
}


p.p4
{

margin-right:10px;
margin-left:10px;
}
