body
{background-color:green;color:red;background_image:}
h1{text-align:center;color:black}
pre{text-color:red}

.main {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 15%;
    margin-bottom: 15%;
}