body,h1,h2,h3,p,td,quote,
small,form,input,ul,li,ol,label{	/* resetting our page elements */
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
}

body{	/* styling the body */
    margin-top:20px;
    color:#51555C;
    font-size:13px;
    background-color:#123456;
}

.clear{	/* the clearfix hack */
    clear:both;
}

a, a:visited {	/* styling the links */
    color:#007bc4;
    text-decoration:none;
    outline:none;
}

a:hover{	/* the hover effect */
    text-decoration:underline;
}

#rounded{	/* the outermost div element */
    width:800px;
    margin:20px auto;	/*center it on the page*/
}

.container{	/* this one contains our navigation, titles, and fetched content */
    background-color:#FFFFFF;
    padding:10px 20px 20px 20px;
}

h1{	/* the heading */
    font-size:28px;
    font-weight:bold;
    font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

h2{	/* the subheading */
    font-weight:normal;
    font-size:20px;

    color:#999999;
}

ul{	/* the unordered list used in the navigation */
    margin:30px 0px;
}

li{	/* we float the li-s, which contain our navigation links - we later apply clearfix */
    list-style:none;
    display:block;
    float:left;
    width:70px;
}

li a,li a:visited{	/* the navigation links */
    padding:5px 10px;
    text-align:center;
    background-color:#000033;
    color:white;

    -moz-border-radius:5px;	/* rounding them */
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;

}

li a:hover{
    background-color:#666666;
    text-decoration:none;
}

#pageContent{	/* the container that holds our AJAX loaded content */
    margin-top:20px;

    border:1px dashed #cccccc;
    padding:10px;

    -moz-border-radius: 5px;	/* rounding the element */
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#loading{	/* hiding the rotating gif graphic by default */
    visibility:hidden;
}