<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer"
         connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=sidr;User ID=sidr;PWD=7iKmGdcp;Persist Security Info=True"
         providerName="System.Data.SqlClient" />
    <add name="sidrCS"
         connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=sidr;User ID=sidr;PWD=7iKmGdcp;Persist Security Info=True"
         providerName="System.Data.SqlClient" />
    <add name="pubsCS"
         connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=pubs;User ID=sidr;PWD=7iKmGdcp;Persist Security Info=True"
         providerName="System.Data.SqlClient" />
    <add name="NorthwindCS"
         connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=Northwind;User ID=sidr;PWD=7iKmGdcp;Persist Security Info=True"
         providerName="System.Data.SqlClient" />
    <add name="AdventureWorksCS"
         connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=AdventureWorks;User ID=sidr;PWD=7iKmGdcp;Persist Security Info=True"
         providerName="System.Data.SqlClient" />
    <add name="AdventureWorksDWCS"
         connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=AdventureWorksDW;User ID=sidr;PWD=7iKmGdcp;Persist Security Info=True"
         providerName="System.Data.SqlClient" />
</connectionStrings>